{% extends "base.html" %}
{% load static %}

{% block title %}Autobahn Map Viewer - Map{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% endblock %}

{% block content %}
    {% if not data_exists %}
    <div id="data-warning" class="warning-message">
        Loading... If this is your first time starting the project, it may take a few minutes for data to appear in the interactive map!
    </div>
    {% endif %}

    <div class="page-wrapper">
        <div class="toggle-container">
            <div class="toggle-item">
                <span>E Charging Stations</span>
                <label class="switch">
                    <input type="checkbox" id="toggle-stations">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="toggle-item">
                <span>Parking Lorries</span>
                <label class="switch">
                    <input type="checkbox" id="toggle-lorries">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="toggle-item">
                <span>Closures</span>
                <label class="switch">
                    <input type="checkbox" id="toggle-closures">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="toggle-item">
                <span>Warnings</span>
                <label class="switch">
                    <input type="checkbox" id="toggle-warnings">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="toggle-item">
                <span>Roadworks</span>
                <label class="switch">
                    <input type="checkbox" id="toggle-roadworks">
                    <span class="slider"></span>
                </label>
            </div>
        </div>

        <div class="map-legend">
            <h4>Legend</h4>
            <div class="legend-item">
                <img src="{% static 'img/station.png' %}" alt="Station Icon">
                <span>Electric Charging Stations</span>
            </div>
            <div class="legend-item">
                <img src="{% static 'img/lorry.png' %}" alt="Lorry Icon">
                <span>Parking Lorries</span>
            </div>
            <div class="legend-item">
                <span class="legend-line" style="background-color: red;"></span>
                <span>Closures</span>
            </div>
            <div class="legend-item">
                <span class="legend-line" style="background-color: blue;"></span>
                <span>Warnings</span>
            </div>
            <div class="legend-item">
                <span class="legend-line" style="background-color: green;"></span>
                <span>Roadworks</span>
            </div>
        </div>

        <div id="map" class="map-container"></div>
    </div>


    <script>
        var map = L.map('map').setView([51.1657, 10.4515], 6); // Centered on Germany

        // Add OpenStreetMap tiles
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        document.getElementById("toggle-stations").addEventListener("change", function () {
            stationMarkers.forEach(marker => {
                if (this.checked) {
                    marker.addTo(map);
                } else {
                    map.removeLayer(marker);
                }
            });
        });

        document.getElementById("toggle-lorries").addEventListener("change", function () {
            lorryMarkers.forEach(marker => {
                if (this.checked) {
                    marker.addTo(map);
                } else {
                    map.removeLayer(marker);
                }
            });
        });

        document.getElementById("toggle-closures").addEventListener("change", function () {
            closureMarkers.forEach(marker => {
                if (this.checked) {
                    marker.addTo(map);
                } else {
                    map.removeLayer(marker);
                }
            });
        });

        document.getElementById("toggle-warnings").addEventListener("change", function () {
            warningMarkers.forEach(marker => {
                if (this.checked) {
                    marker.addTo(map);
                } else {
                    map.removeLayer(marker);
                }
            });
        });

        document.getElementById("toggle-roadworks").addEventListener("change", function () {
            roadworkMarkers.forEach(marker => {
                if (this.checked) {
                    marker.addTo(map);
                } else {
                    map.removeLayer(marker);
                }
            });
        });
    </script>


    <style>
        .warning-message {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: yellow;
            color: black;
            padding: 10px 15px;
            font-weight: bold;
            text-align: center;
            border: 1px solid black;
            z-index: 1000; /* Ensures it stays on top */
        }
    </style>

    

    {% include 'stations.html' %}
    {% include 'lorries.html' %}
    {% include 'closures.html' %}
    {% include 'warnings.html' %}
    {% include 'roadworks.html' %}

{% endblock %}
    