{% load static %}

<script>
    var baseIconSize = 15; // initial size for icon (when zoom level is 6)
    var stationIcon = createStationIcon(baseIconSize); // Create the icon initially

    // Function to create icons with size scaling
    function createStationIcon(size) {
        return L.icon({
            iconUrl: "{% static 'img/station.png' %}",
            iconSize: [size, size * 1.33],  // aspect ratio for the icon
            iconAnchor: [size / 2, size * 1.33],  // where the icon's center is relative to its size
            popupAnchor: [0, -size]  // where the popup will be located relative to the icon
        });
    }

    var stationMarkers  = [];
    // Add markers for each station
    {% for station in stations %}
        var stationsMarker = L.marker([{{ station.latitude }}, {{ station.longitude }}], { icon: stationIcon });
        var popupText = `<strong>{{ station.road|escapejs }}</strong><br><br>{{ station.area|default_if_none:''|escapejs }}<br><br>{{ station.subtitle|default_if_none:''|escapejs }}<br><br>{{ station.description|default_if_none:''|escapejs }}`;
        stationsMarker.bindPopup(popupText);
        stationMarkers.push(stationsMarker);
    {% endfor %}

    // Adjust the icon size on zoom level change
    map.on('zoomend', function() {
        var zoom = map.getZoom();
        var newSize = baseIconSize + (zoom - 6) * 4; // Change icon size based on zoom level

        // Avoid making the icon too small or too large
        newSize = Math.max(10, Math.min(40, newSize));  // Ensure the icon size is within a reasonable range

        var newIcon = createStationIcon(newSize);

        stationMarkers.forEach(function(marker) {
            marker.setIcon(newIcon); // Update each marker with the new icon size
        });
    });
</script>
